@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<style>
body{
background: url(http://cdn.pcwallart.com/images/city-street-wallpaper-3.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
}
   
.loginform{
    height:50%;
    width:60%;
     margin:20% auto;
}
h1{
    width:40%;
    margin:auto;
    margin-bottom:10%;
    color:white;
}
.cover{
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, 0.21);
    position:absolute;

}
img{

    height:12%;
    width:10%;
    margin:auto auto;
}
</style>

  </head>
  <body>
      <div class="cover">

          <div class="login">
              <div class="loginform">
                  <img src="/images/logo/logo.png" />
                  <h1>CoreEngine - X</h1>
                  <form action="\swagger\ui\index.html">

                      <div class="form-group col-md-6">
                          <input type="text" placeholder="Username" name="username" class="form-control" />
                      </div>
                      <div class="form-group col-md-6">
                          <input type="text" placeholder="Password" name="password" class="form-control" />
                      </div>
                      <div class="col-md-6 col-md-offset-3">
                          <input type="submit" value="Login" class="btn btn-success" style="width:100%;" />
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </body>
</html>
